.git
virt_*
docs
*.pyc
*.log
*.pid
*.fa
*egg-info*
sql
tmp
data
json
Dockerfile*
develop.sh
docker-compose*
lib.sh
yarn_cache
bpaotu/bpaotu/frontend/node_modules
bpaotu/bpaotu/frontend/dist
frontend/
