#!/bin/sh
DOCKER_ROUTE=host.docker.internal
GALAXY_BASE_URL
GALAXY_ADMIN_USER_API_KEY
BPAOTU_AUTH_SECRET_KEY=test
REDIS_PASSWORD=redispassword
LOG_DIRECTORY=/data/log
LOG_LEVEL=DEBUG

# Mail server settings
EMAIL_SUBJECT_PREFIX=[Australian Microbiome]
MAIL_SERVER_HOST=localhost
MAIL_SERVER_PORT=1025
MAIL_FROM=noreply@test.local
# METAGENOME_REQUEST_EMAIL=user@example.com # Where to send emails for metagenome requests

# Sample values for development. See ./README.md
#SKIP_WARMCACHE=yes
#CKAN_DEVEL_USER_EMAIL=user@example.com
#CKAN_API_KEY=INSERT-CKANAPI-KEY-HERE
#CKAN_CHECK_PERMISSIONS_URL=no
