#!/bin/sh
DOCKER_ROUTE=host.docker.internal
GALAXY_BASE_URL
GALAXY_ADMIN_USER_API_KEY
BPAOTU_AUTH_SECRET_KEY=test
REDIS_PASSWORD=redispassword
LOG_DIRECTORY=/data/log
LOG_LEVEL=DEBUG

# Mail server settings
EMAIL_SUBJECT_PREFIX=[Australian Microbiome]
MAIL_SERVER_HOST=localhost
MAIL_SERVER_PORT=1025
MAIL_FROM=noreply@test.local
# METAGENOME_REQUEST_EMAIL=user@example.com # Where to send emails for metagenome requests

# BioCommons Auth0 OIDC Configuration
# All URL/URI values must match the allowed values in BioCommons Auth0 dashboard
#
# OAUTH_REDIRECT_URI:
# Callback URL where Auth0 redirects after login
# OAUTH_FRONTEND_URL:
# Frontend URL where the app will redirect after successful auth
# OAUTH_LOGOUT_REDIRECT_URI:
# URL to redirect to after logout
# OAUTH_CHECK_PERMISSIONS_URL:
# Local URL the app uses to check OAuth status
OAUTH_DOMAIN=dev-bc.au.auth0.com
OAUTH_CLIENT_ID=your-client-id
OAUTH_CLIENT_SECRET=your-client-secret
OAUTH_REDIRECT_URI=http://localhost:8080/oidc/callback
OAUTH_FRONTEND_URL=http://localhost:3000
OAUTH_LOGOUT_REDIRECT_URI=http://localhost:8080
OAUTH_CHECK_PERMISSIONS_URL=/oidc/check-auth/
OAUTH_AM_ORGANISATION=australian-microbiome

# Sample values for development. See ./README.md
#SKIP_WARMCACHE=yes
#CKAN_DEVEL_USER_EMAIL=user@example.com
#CKAN_API_KEY=INSERT-CKANAPI-KEY-HERE # Needed for site images
