syntax:glob
.#*
*.log*
*.swp
*.swo
*.egg-info/
*~
*.pyc
*.html~
*.js~
media/
.ropeproject
.vscode
build
data/
*.tags
*.tags1
.biom

.env
.env_local

node_modules
yarn-error.log
bpaotu/bpaotu/frontend/dist
bpaotu/bpaotu/static/bpaotu/js/*-bundle*.js

_skip_warmcache

yarn_cache/
.DS_Store
.idea/
rds/
temp/
.nvmrc

backup_*/
dbdata_*/
krona/
celerybeat-schedule.*
