[submodule "bpa-ingest"]
	path = bpa-ingest
	url = https://github.com/BioplatformsAustralia/bpa-ingest.git
[submodule "bpaotu/bpaotu/bpaotu_bulk"]
	path = bpaotu/bpaotu/bpaotu_bulk
	url = https://github.com/hou098/bpaotu_bulk
