syntax:glob
.#*
*.log
*.swp
*.swo
*~
*.pyc
*.html~
*.js~
media/
.ropeproject
.vscode
build
data/
*.tags
*.tags1
.env_local

node_modules
yarn-error.log
bpaotu/bpaotu/frontend/dist
bpaotu/bpaotu/static/bpaotu/js/*-bundle*.js

yarn_cache/
