# note that while docker passes the .env file env variables through automatically
# we have kept them in below to be explicit

services:
  db:
    image: mdillon/postgis:10
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    command:
      - "postgres"
      - "-c"
      - "wal_level=minimal"
      - "-c"
      - "max_wal_size=10GB"
      - "-c"
      - "max_wal_senders=0"
    ports:
      - "5432:5432"
    volumes:
      - .:/app
      - ./data/dev:/data
      - dbdata:/var/lib/postgresql/data/

  cache:
    image: redis:3-alpine
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]

  runserver:
    image: bioplatformsaustralia/bpaotu
    env_file:
      - .env_local
    environment:
      - WAIT_FOR_DB=1
      - WAIT_FOR_CACHE=1
    volumes:
      - .:/app
      - ./data/dev:/data
    ports:
      - "8000:8000"
      - "8888:8888" # Jupyter port
    depends_on:
      - db
      - cache
    networks:
      default:
        aliases:
          - web

  celeryworker:
    image: bioplatformsaustralia/bpaotu-worker
    env_file:
      - .env_local
    environment:
      - WAIT_FOR_DB=1
      - WAIT_FOR_CACHE=1
      - PYTHONPATH=/app/bpaotu
      - DJANGO_SETTINGS_MODULE=bpaotu.settings_celery
    volumes:
      ## this would prevent needing to rebuild worker container after each code change
      ## but is causing issues:
      ## Error response from daemon: failed to create task for container: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: exec: "/app/docker-worker-entrypoint.sh": permission denied: unknown
      # - .:/app
      - ./data/dev:/data
    depends_on:
      - db
      - cache
      - runserver
    networks:
      default:
        aliases:
          - web

volumes:
  dbdata:
