/* Sticky footer styles */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -84px;
    /* Pad bottom by footer height */
    padding: 0 0 84px;
}

.site-footer {
    padding-top: 15px;
    color: rgb(230,230,230);
    background-color: #1e73be;
    text-align: center;
}

.site-footer a {
    color: rgb(255,255,255);
}

.site-footer-links {
    padding-bottom: 15px;
}

.site-footer-links a {
    padding-right: 25px;
}

.site-footer-logo {
    background-color: #171717;
    padding-bottom: 30px;
    padding-top: 30px;
}

.contextual-filter-row {
    padding-bottom: 5px;
}


.no-padding-right {
    padding-right: 0 !important;
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
