Django==2.1.5
Django-suit==0.2.26
Unipath==1.1
Werkzeug==0.14.1
beautifulsoup4==4.7.1
boto==2.49.0
ccg-django-utils==0.4.2
ckanapi==4.1
psycopg2==2.7.6.1
pytz==2018.9
requests==2.21.0
six==1.12.0
uwsgi==2.0.17.1
uwsgitop==0.11
xlrd==1.2.0
xlwt==1.3.0
xlsxwriter==1.1.2
openpyxl==2.5.12
SQLAlchemy==1.2.16
sqlalchemy-citext==1.3.post0
colorlog==4.0.2
django-extensions==2.1.4
redis==3.0.1
django-redis==4.10.0
zipstream==1.1.4
h5py==2.9.0
numpy==1.16.0
celery==4.2.1
Pillow==5.4.1
python-resize-image==1.1.18
django-webpack-loader==0.6.0
https://github.com/BioplatformsAustralia/bpa-ingest/archive/5.3.7.tar.gz
git+https://github.com/muccg/ckanapi.git@streaming-uploads
httplib2==0.12.0
boto3==1.9.82
botocore==1.12.82
google-api-python-client
python-dateutil==2.7.5
shapely==1.6.4.post2
fiona==1.8.4
