Django==2.2.1
Django-suit==0.2.26
Unipath==1.1
Werkzeug==0.15.4
beautifulsoup4==4.7.1
boto==2.49.0
ccg-django-utils==0.4.2
ckanapi==4.3
psycopg2==2.8.3
pytz==2019.1
requests==2.22.0
six==1.12.0
uwsgi==2.0.18
uwsgitop==0.11
xlrd==1.2.0
xlwt==1.3.0
xlsxwriter==1.1.8
openpyxl==2.6.2
SQLAlchemy==1.3.5
sqlalchemy-citext==1.3.post0
colorlog==4.0.2
django-extensions==2.1.9
redis==3.2.1
django-redis==4.10.0
zipstream==1.1.4
h5py==2.9.0
numpy==1.16.4
celery==4.3.0
Pillow==6.1.0
python-resize-image==1.1.19
django-webpack-loader==0.6.0
https://github.com/BioplatformsAustralia/bpa-ingest/archive/5.3.7.tar.gz
git+https://github.com/muccg/ckanapi.git@streaming-uploads
httplib2==0.13.0
boto3==1.9.183
botocore==1.12.183
google-api-python-client
python-dateutil==2.8.0
shapely==1.6.4.post2
fiona==1.8.6
