<title>Ontology Log</title>

<style>
    td, th {
        vertical-align: top;
    }

    table, th, td {
        padding: 12px;
        border: 1px solid;
        border-collapse: collapse;
    }
</style>

<h1>Ontology Log</h1>

<table>
    <thead>
        <td><b>Ontology File</b></td>
        <td><b>Ontology Name</b></td>
        <td><b>Mismatches</b></td>
    </thead>

    {% for item in items %}
    <tr>
        <td>{{ item.ontology_filename }}</td>
        <td>{{ item.ontology_name }}</td>
        <td>
            {% if item.import_result == "set()" %}
                None
            {% else %}
                <ul>
                    {% for result in item.get_import_result %}
                        <li>{{ result }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
