{% load humanize %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=11">

    <title>Bioplatforms OTU Search Facility - Ingest Log</title>

    <link rel="icon" href="{% static 'bpa-logos/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'bpaotu/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bpaotu/bpaotu.css' %}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<style>
    td, th {
        vertical-align: top;
    }
    
    table, th, td {
        padding: 12px;
        border: 1px solid;
        border-collapse: collapse;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Bioplatforms OTU Database - Ingest log</h1>

            <h2>Database</h2>

            <table>
                <tr>
                    <td>Methodology:</td>
                    <td>{{ metadata.methodology }}</td>
                </tr>
                <tr>
                    <td>Revision:</td>
                    <td>{{ metadata.revision_date }} (Imported {{ metadata.imported_at }})</td>
                </tr>
                <tr>
                    <td>Samples:</td>
                    <td>{{ metadata.samplecontext_count | intcomma }}</td>
                </tr>
                <tr>
                    <td>OTUs:</td>
                    <td>{{ metadata.otu_count | intcomma }}</td>
                </tr>
                <tr>
                    <td>Abundance entries:</td>
                    <td>{{ metadata.sampleotu_count | intcomma }}</td>
                </tr>

            </table>

            <h2>Files ingested</h2>

            <table>
                <thead>
                    <th>File name</th>
                    <th>File type</th>
                    <th>File size</th>
                    <th>Rows imported</th>
                    <th>Rows skipped</th>
                </thead>
                
                {% for file in files %}
                <tr>
                    <td>{{ file.filename }}</td>
                    <td>{{ file.file_type }}</td>
                    <td>{{ file.file_size | intcomma }}</td>
                    <td>{{ file.rows_imported | intcomma }}</td>
                    <td>{{ file.rows_skipped | intcomma }}</td>
                </tr>
                {% endfor %}
            </table>
            
            <h2>Ontology errors</h2>
            
            <table>
                <thead>
                    <th>Environment</th>
                    <th>Ontology Name</th>
                    <th>Invalid values (dropped by import)</th>
                </thead>
                
                {% for item in ontology_errors %}
                {% if item.invalid_values %}
                <tr>
                    <td>{{ item.environment }}</td>
                    <td>{{ item.ontology_name }}</td>
                    <td>
                        <ul>
                            {% for invalid_value in item.invalid_values %}
                            <li><code>"{{ invalid_value }}"</code></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}

                {% endfor %}
            </table>
            <h2>Samples excluded: non-Bioplatforms Sample ID</h2>
            
            <table>
                <thead>
                    <th>Sample ID</th>
                </thead>
                <tr><td>
                    {% for sample_id in sample_non_integer %}
                    {{ sample_id }}
                    {% endfor %}
                </td></tr>
            </table>

            <h2>Samples excluded: metadata exists, but does not meet minimum standards</h2>
            
            <table>
                <thead>
                    <th>Sample ID</th>
                </thead>
                <tr><td>
                    {% for sample_id in sample_metadata_incomplete %}
                    <a target="_other" href="{{ ckan_base_url }}/organization/australian-microbiome?q=bpa_id:102.100.100/{{ sample_id}}">{{ sample_id }}</a>
                    {% endfor %}
                </td></tr>
            </table>

            <h2>Samples excluded: no metadata</h2>
            
            <table>
                <thead>
                    <th>Sample ID</th>
                </thead>
                <tr><td>
                    {% for sample_id in sample_not_in_metadata %}
                    <a target="_other" href="{{ ckan_base_url }}/organization/australian-microbiome?q=bpa_id:102.100.100/{{ sample_id}}">{{ sample_id }}</a>
                    {% endfor %}
                </td></tr>
            </table>

        </div>
    </div>
</div>

</body>
</html>
