{% extends 'bpaotu/base.html' %}
{% load leaflet_tags %}
{% load staticfiles %}
{% load static from staticfiles %}

{% block extra_head %}
{% leaflet_js %}
{% leaflet_css %}

<script src="{% static 'bpaotu/leaflet.marketcluster-1.3.0/leaflet.markercluster.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'bpaotu/leaflet.marketcluster-1.3.0/MarkerCluster.Default.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bpaotu/leaflet.marketcluster-1.3.0/MarkerCluster.css' %}"/>
<script src="{% static 'bpaotu/bpaotu.js' %}"></script>

{% endblock extra_head %}

{% block content %}
<div class="container-fluid">
    <div id="token_error_message" class="lead"></div>
    <h4>For instructions on how to use this search tool, please see <a href="/organization/pages/australian-microbiome/search-instructions">the search documentation</a>.</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Abundance matrices are derived from sequencing using one of 5 amplicons targeting Bacteria, Archaea, Eukaryotes (v4 and v9) and Fungi.  To filter data from a single amplicon select that amplicon here.  To search all amplicons for a taxa select &quot;all&quot;.  Note the &quot;all&quot; search will return non-target sequences as well as target, for example searching &quot;Amplicon = all&quot; + &quot;Kingdom = Bacteria&quot; will return all sequences classified as bacteria in all assays."></span>
                    Filter on Amplicon
                </div>

                <div class="panel-body">
                    <span class="col-sm-2 no-padding">
                      <select class="form-control" id="amplicon_op">
                        <option value="is">is</option>
                        <option value="isnot">isn't</option>
                      </select>
                    </span>
                    <span class="col-sm-10">
                      <select class="form-control" id="amplicon"></select>
                    </span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Taxonomy is assigned to sequences using consensus taxonomy of the top 3 hits against SILVA132 for rRNA targets and UNITE for ITS1 targets."></span>
                    Filter on Taxonomy
                </div>
                <div class="panel-body">
                    <table id="taxonomic_filter_table" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <th>Level</th>
                            <th>Operator</th>
                            <th>Value</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="10%">
                                  <label for="taxonomy_kingdom">Kingdom</label>
                                </td>
                                <td width="15%">
                                    <select class="form-control" id="taxonomy_kingdom_op">
                                      <option value="is">is</option>
                                      <option value="isnot">isn't</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_kingdom"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <label for="taxonomy_phylum">Phylum</label>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_phylum_op">
                                      <option value="is">is</option>
                                      <option value="isnot">isn't</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_phylum"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <label for="taxonomy_class">Class</label>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_class_op">
                                      <option value="is">is</option>
                                      <option value="isnot">isn't</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_class"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <label for="taxonomy_order">Order</label>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_order_op">
                                      <option value="is">is</option>
                                      <option value="isnot">isn't</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_order"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <label for="taxonomy_family">Family</label>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_family_op">
                                      <option value="is">is</option>
                                      <option value="isnot">isn't</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_family"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <label for="taxonomy_genus">Genus</label>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_genus_op">
                                      <option value="is">is</option>
                                      <option value="isnot">isn't</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_genus"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <label for="taxonomy_species">Species</label>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_species_op">
                                      <option value="is">is</option>
                                      <option value="isnot">isn't</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="taxonomy_species"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2"><input class="btn btn-warning" type="button" id="clear_taxonomic_filters" value="Clear" /></div>
                        <div class="col-md-5"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Contextual filters allow data to be filtered on site specific chemical and physical data.   More than one filter may be used and combined with &quot;and/or&quot; functions."></span>
                    Contextual Filters
                </div>
                <div id="contextual_filters" class="panel-body">
                    <div class="row" id="environment-row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            Environment
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Data may be filtered on environment to restrict samples to either soil or marine environment sources.  Marine environment includes pelagic, coastal, sediment and host associated samples.  Within marine environment, samples may be further filtered by adding another filter and selecting the &quot;Sample Type&quot; filter."></span>
                        </div>
                        <div class="col-md-6 contextual-entry">
                          <div calls="row">
                            <span class="col-md-4">
                              <select class="form-control" id="environment_op">
                                <option value="is">is</option>
                                <option value="isnot">isn't</option>
                              </select>
                            </span>
                            <span class="col-md-8">
                              <select class="form-control" id="environment"></select>
                            </span>
                          </div>
                        </div>
                    </div>
                    <p id="contextual_filters_mode_para">
                        Samples must match
                        <select id="contextual_filters_mode">
                            <option value="and">all</option>
                            <option value="or">any</option>
                        </select>
                        of the following contextual filters.
                    </p>
                    <div id="contextual_filters_target">
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-2"><input class="form-control btn btn-success" type="button" id="add_contextual_filter" value="Add" /></div>
                        <div class="col-md-2"><input class="btn btn-warning" type="button" id="clear_contextual_filters" value="Clear" /></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="error-box">
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <button type="button" class="btn btn-primary btn-block" id="search_button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
            </div>
            <div id="spinner" class="spinner"></div>
        </div>
        <div class="col-md-5">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-default " id="show_map_button">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Show results on Map
                    </button>
                    <button type="button" class="btn btn-default " id="submit_galaxy_button">
                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Submit to Galaxy
                        <span id="galaxy-loading" class="glyphicon glyphicon-refresh spinning" style="display: none"></span>
                    </button>
                    <button type="button" class="btn btn-default " id="export_button">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Export Search Results
                    </button>
                    <span class="glyphicon glyphicon-info-sign" title="Export an OTU abundance table, OTU taxonomy and representative OTU sequences for samples filling filtered search."></span>
                    To sort by multiple columns, press and hold the Shift key.
                </div>

                <div id="search-alert" class="alert alert-dismissible text-center" style="display: none">
                    <span class="text"></span>
                    <button type="button" class="close" aria-label="Close" onclick="$('#search-alert').hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <table id="results" class="table" width="100%">
                    <thead>
                        <tr>
                            <th>BPA Sample ID</th>
                            <th>BPA Project</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>BPA Sample ID</th>
                            <th>BPA Project</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div id="map-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title text-center">
              Sample Collection Sites
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </h4>
          </div>
          <div class="modal-body">
            <p id="sample-sites-info" class="text-center"></p>
            {% leaflet_map "samples_map" loadevent="do-NOT-initialise" %}
          </div>
        </div>
      </div>
    </div> <!-- map-model -->
{% endblock content %}
